// theme
$menu_bg_color: #324157;

// color
$main_red: #F24858;
$main_green: #12b56a;
$main_dark: #324157;
$main_light: #eef1f6;
$main_blue: #20a0ff;

$main_label: #f3900f;
$main_yellow: #F1AB03;
$main_font: #484b4f;
$sub_font: rgba(72, 75, 79, 0.8);
$light_font: rgba(72, 75, 79, 0.7);
$main-bg: #f3f3f3;
$divider: #d8dee5;
$grid_color: #F0F1F4;
$main_link: #23B46C;
$error: #ec001d;
$border: $divider;
$input-bg: #f6f6f6;
$exc_title: #737373;


//layout
$page_width: 1390px;
$content_width_small: 1080px;
$content-width: 1280px;
$header-height: 44px;
$menu_left: 180px;

//font
$font_bigger: 20px;
$font_large: 18px;
$font_normal: 16px;
$font_small: 14px;
$font_smaller: 12px;
$font_main_lineheight: 20px;

// form
$form-item-width: 224px;
$form-multiple-select-width: 224px;
